<div class="container imageSlider">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/images/main/slide-9.jpg" >
        <div class="d-none d-block textboxes">
          <font class="font-weight-bold"><a href="#whatsAnime.html">Какво е "Аниме"?</a></font>
          <p>Анимето е нарисуван сериал включващ романтика, вълнение, напрежение, драма и за каквото още се сетиш. Те имат една обща идея. Разделени на арки със свои собствени идеи, които не се отклоняват от общата, са удивителни... <a href="#whatsAnime.html">(Вижте още)</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/main/slide-7.png">
        <div class="d-none d-block textboxes">
          <font class="font-weight-bold"><a href="#whatsManga.html">Какво е "Манга"?</a></font>
          <p>Манга е японската дума за комикси и карикатури. Създателят (авторът) на манга се нарича мангака. Извън Япония думата се употребява за означаване на комикси, създадени първоначално в Япония (т.е. японски комикси... <a href="#whatsManga.html">(Вижте още)</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/main/liveactionslider.jpg">
        <div class="d-none d-block textboxes">
          <font class="font-weight-bold"><a href="#whatsLiveAction.html">Какво е "Лайв-екшън"?</a></font>
          <p>Игрален филм или сериал, или още наричани “лайв-екшън”, е игрален филм или сериал, в който участват актьори или натуршчици, изпълняващи роли по предварително написан сценарий, който разказва измислена, худ... <a href="#whatsLiveAction.html">(Вижте още)</a></p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon p-4" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
       <span class="carousel-control-next-icon p-4" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
<br />
